@import url("https://use.typekit.net/jmk3xov.css");


#time-display {
    position: absolute;
    z-index: 2;
    left: 9%;
    top: -2%;
    font-size: 23px;
    font-weight: 10px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 6px;
    background-color: rgb(184 171 169);
    box-shadow: 0.2em 0.2em 0.2em;
}

#control {
    position: absolute;
    z-index: 2;
    top: 93%;
}

#control button {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(87, 105, 139);
    margin-right: 8px;
    box-shadow: 0.2em 0.2em 0.2em;
}

#control button.action {
    background-color: rgb(241, 25, 25);
}

#W {
    position: absolute;
    top: -42px;

}

/* #D {
    position: absolute;
    top: -42px;

} */


canvas {
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    #control button {
        width: 50px;
        height: 25px;
        border-radius: 2px;
        font-size: 10px;
        margin-right: 6px;
    }

    #W {

        top: -36px;

    }
}